body{
    background-color: blueviolet;

}

.banner{
    width: auto;
    height: 98vh;
   max-width: auto;
   max-height: 98vh;
   margin-top: -1%;
   margin-left: -1%;
}
.fundobranco{
    widows: ;
    height:;
}
.fundoarvore{
    width:;
    height:;
}

